.add-profile-form {
    display: flex;
    flex-direction: column;

    background-color: white;
    border-radius: 1rem;
    width: 30rem;
}

.add-profile-form .head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1.5rem;

}

.add-profile-form .head h4 {
    font-size: 1.25rem;
    font-weight: 600;
    color: var(--Light-Bulma);
}
.add-profile-form .head span {
 cursor: pointer;
}
.form-box {
    display: flex;
    flex-direction: column;
    gap:1.5rem;

    border-top: 1px solid var(--Light-Beerus);
    border-bottom: 1px solid var(--Light-Beerus);
    padding: 1.5rem;
}
.form-levels {
    display:flex;
    gap:1.5rem;
}
.form-levels span{
    flex:auto;

    font-size: 1rem;
    font-weight: 600;
    padding:0.5rem 2px 0.875rem;
    color: var(--Light-Bulma);
    text-align: center;
    background-image: linear-gradient(#D9D9D9,#D9D9D9);
    background-size: 100% 0.3rem;
    background-repeat: no-repeat;
    background-position: left bottom;
    border-radius: 4px;
    cursor: pointer;
}
.level-active {
    background-image: linear-gradient(#3F84F8,#3F84F8) !important;
}
.input-field *{
    display: block;
    width: 100%;
}

.input-field label {
    color:var(--Light-Bulma);
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 0.5rem;
}

.input-field input {
    border: none;
    border-radius: 0.5rem;
    background: var(--Background);
    padding: 0.75em 1em;
    font-size: 1rem;
    font-weight: 400;
    border: 1px solid var(--Light-Beerus);
}
.input-field input:invalid:focus-within {
 border-color: var(--Light-Red);
}
.input-field input:valid:focus-within {
    border-color: var(--Light-Green);
}
.input-field input::placeholder {
    color:var(--Light-Trunks)
}

.input-field input:focus {
    outline: none;
    background: var(--field-color-darker);
}

.add-profile-form :where(.basic-form,.social-form){
display:flex;
flex-direction: column;
gap:1.25rem;
}
.add-profile-form :where(.basic-form,.social-form).none{
    display: none;
}

.add-profile-form .btn-container {
    display: flex;
    justify-content: flex-end;
    gap:0.5rem;
    padding: 1.5rem;
}
.add-profile-form .btn-container button {
    border-radius: 0.5rem;
    font-size: 0.875rem;
    font-weight: 600;
    padding: 0.5em 1em;
    line-height: 1.5rem;
    border: 1px solid var(--Light-Trunks);
    color:var(--Light-Bulma);
    font-feature-settings: 'clig' off, 'liga' off;
    cursor: pointer;
}
.add-profile-form .btn-container button.highlight-btn {
    background: #4285F4;
    color: #fff;
    border-top: 1px solid #4285F4;
}

.add-profile-form .btn-container button:disabled {
    cursor: not-allowed;
    opacity: 0.7;
}



@media screen and (max-width: 420px){
    .add-profile-form {
       width: 24rem;   
       }
}

@media screen and (max-width: 360px){
    .add-profile-form {
        width: 20rem;   
        }
}

@media screen and (max-width: 290px){
.add-profile-form {
   width: 24rem;   
   }
}