.signin-page {
    display:flex;
    position: relative;
    width:100%;
    height: 100%;
}

.left {
    flex: 1 1 50%;
    display: flex;
    flex-direction: column;


    position: relative;
    /* background: linear-gradient(100deg, #286DE0 80%,#F8FAFF 20%); */
    /* background-position: center; */
    background-image: url("../SVG/signin_background.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #F8FAFF;
    color:#ffffff;
}
.left span:first-child {
    margin-left : 3rem;
    margin-top: 3rem;
    font-size: 1.5rem;
    font-weight: 700;
}
.brand {
    position: relative;
    flex:auto;
    display: flex;
    align-items: center;

}
.left h1 {
    position: relative;
    font-size: 4rem;
    font-weight: 700;
    margin-left : 28%;

}
.social-links {
    position: relative;
    display:inline-flex;
    gap:1rem;

    margin-left : 20%;
    margin-bottom: 3rem;
}


.right {
    flex: 1 1 50%;
    display:flex;
    align-items: center;
    justify-content: center;

    background: #F8FAFF;
    padding:1rem;
}
.signin-box {

}
.signin-box h2 {
    color:black;
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 5px;
}
.signin-box > p {
    color:black;
    font-size: 1rem;
    font-weight: 400;
}
.signin-form-box {
  margin-top: 2rem;
}
.signin-options {
  display:flex;
  gap: 0.5rem;
}

.signin-option {
    flex: auto;
    display:inline-flex;
    align-items: center;
    gap: 0.5rem;
    justify-content: center;

    padding: 0.5rem;
    border-radius: 0.625rem;
    background-color: #ffffff;
    color:var(--Secondary-Text);
    font-size: 0.75rem;
    cursor: pointer;
}


.signin-form-box form {
    margin-top:1rem;
    padding:1.5rem;
    width: 22.5rem;
    background-color: #fff;
    border-radius: 1.25rem;
}

.signin-form-box form * {
    display: block;
    width:100%;
    font-size: 1rem;
    font-weight: 400;
}

.signin-form-box form label, .signin-form-box form p {
    margin: 0.75rem 0;
}
.signin-form-box form input {
    border:none;
    border-radius: 0.5rem;
    background: var(--Background);
    padding: 0.75em 1em;    
}
.signin-form-box input:focus {
    outline: none;
    background: var(--field-color-darker);
}

 .signin-form-box form button {
    border:none;    
    border-radius: 0.5rem;
    background: #4285F4;
    color:#fff;
    font-size: 1rem;
    font-weight: 700;
    padding: 0.75em 1em;
    margin-top: 2rem;
}

.signin-form-box p:last-child {
    font-size: 1rem;
    font-weight: 400;
    color:var(--Secondary-Text);
    text-align: center;
    margin-top:1rem;
}


@media screen and (max-width: 900px){
.signin-page {
    flex-direction: column;
}

.left {
    flex:none;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    
    background-image: none;
    background:#286DE0;
    background-position: center;
    padding:1rem;
}
.left span:first-child{
    margin:0;
}
.social-links {
    margin: 0;
}
.social-links * {
    width: 1.5rem;
    height: 1.5rem;
}
.brand {
    display: none;
}
.signin-box h2,.signin-box > p {
  text-align: center;
}
 
}

@media screen and (max-width: 767px){

}
